[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "lib/zksolc-bin"]
	path = lib/zksolc-bin
	url = https://github.com/matter-labs/zksolc-bin
[submodule "lib/solidity-stringutils"]
	path = lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
[submodule "lib/era-contracts"]
	path = lib/era-contracts
	url = https://github.com/matter-labs/era-contracts
[submodule "lib/era-system-contracts"]
	path = lib/era-system-contracts
	url = https://github.com/matter-labs/era-system-contracts
[submodule "lib/v2-testnet-contracts"]
	path = lib/v2-testnet-contracts
	url = https://github.com/matter-labs/v2-testnet-contracts
